@tailwind base;
@tailwind components;
@tailwind utilities;

.glowing-button{
    position: relative;
    overflow: hidden;
}
  
.glowing-button::before {
content: "";
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
z-index: -1;
background: linear-gradient(to right, #ff00cc, #3333ff);
filter: blur(8px);
opacity: 0.5;
animation: glowing-border 2s infinite;
}

@keyframes glowing-border {
0% {
    box-shadow: 0 0 5px #00b3ff;
}
50% {
    box-shadow: 0 0 20px #00ff6a, 0 0 30px #00b3ff;
}
100% {
    box-shadow: 0 0 5px #00b3ff;
}
}